.Docs {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.Docs-Logo {
  font-size: 200px;
  line-height: 200px;
}

.Docs-Hr {
  width: 300px;
  margin: 25px 0px;
  border: 0;
  border-top: 1px solid #c33cc3;
}

.Docs-Title {
  color: white;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Docs-Section {
  display: flex;
  width: 100%;
  max-width: 640px;
  flex-direction: column;
  color: white;
}

.Docs-Section-Code {
  padding: 10px;
  background-color: #695bcd;
  border-radius: 5px;
}

.Docs-Section-Title {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.Docs-Section-Description {
  font-size: 23px;
  line-height: 30px;
  margin: 0px;
  margin-top: 20px;
}

.Docs-Section-Title-Command {
  font-weight: 600;
  font-style: italic;
  margin: 0px;
  margin-bottom: 20px;
  color: rgb(80, 250, 123);
}

.Docs-Board-Container {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.Docs-Board-Wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.Docs-Board-Controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.Docs-Board-Controls-Control {
  margin-top: 20px;
}

.Docs-Board-Canvas {
  background-color: white;
  border-radius: 20px;
}
