.BoardSizeSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BoardSizeSelector-Title {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
  color: #f89d0f;
  margin-right: 20px;
}

.BoardSizeSelector-Checkbox {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.BoardSizeSelector-Checkbox-Label {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #f89d0f;
}
